#catalog-form .ui-selectonemenu {
	width: 260px !important;
}

span.hide-on-embed, button.hide-on-embed {
	display: inline !important;
}

.migration-dialog td.column-status {
	text-align: center;
}

.migration-dialog span.error {
	color: red;
}

.ui-layout-resizer-south-closed {
	height: 12px !important;
}
