<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0 http://maven.apache.org/xsd/assembly-1.1.0.xsd">
	<id>plugin</id>
	<formats>
		<format>tar.gz</format>
		<format>zip</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<fileSets>
		<fileSet>
			<directory>${project.build.directory}/plugin</directory>
			<outputDirectory>/pivot4j</outputDirectory>
			<includes>
				<include>**/*</include>
			</includes>
			<excludes>
				<exclude>*.xml</exclude>
				<exclude>**/web.xml</exclude>
				<exclude>**/faces-config.xml</exclude>
			</excludes>
			<filtered>false</filtered>
		</fileSet>
		<fileSet>
			<directory>${project.build.directory}/generated-resources/xml/xslt</directory>
			<outputDirectory>/pivot4j/webapp/WEB-INF</outputDirectory>
			<includes>
				<include>**/web.xml</include>
				<include>**/faces-config.xml</include>
			</includes>
			<filtered>false</filtered>
		</fileSet>
		<fileSet>
			<directory>${project.build.directory}/plugin</directory>
			<outputDirectory>/pivot4j</outputDirectory>
			<includes>
				<include>*.xml</include>
			</includes>
			<filtered>true</filtered>
		</fileSet>
	</fileSets>
</assembly>
